@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

body {
  font-variant-ligatures: none;
}

.loggo ul {
  list-style: none;
  margin-left: 1.1em;
}

.loggo ul li {
  text-indent: -1.1em;
  line-height: 1.25em;
  margin-bottom: 0.75em;
}

.loggo ul li:last-of-type {
  margin-bottom: 0.25em;
}

.loggo ul li::before {
  content: '— ';
  color: rgba(88, 120, 182);
}

.scrollbar-off::-webkit-scrollbar {
  display: none;
}

.scrollbar-off {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-on::-webkit-scrollbar {
  display: block;
}

.scrollbar-on {
  scrollbar-width: unset;
  -ms-overflow-style: unset;
}

.backdrop-blur {
  background-color: rgba(0, 0, 0, 0.9);
}

@supports (
  (-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))
) {
  .backdrop-blur {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.5em);
  }
}
