@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

body {
  font-variant-ligatures: none;
}

.sticky ul {
  list-style: none;
  margin-left:1.1em;
}

.sticky ul li {
  text-indent: -1.1em;
}

.sticky ul li::before {
  content: "— ";
  color:rgba(88,120,182);
}
